# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Environment variables
.env
.env.*

# MacOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Testing
.coverage
htmlcov/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# SQLite
*.db
*.sqlite3

# Mypy
.mypy_cache/

# FastAPI specific
*.pid