# =========================
# Mac system files
# =========================
.DS_Store

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
ENV/
env/

# Environment variables
.env

# =========================
# Node / React
# =========================
node_modules/
dist/
build/

# =========================
# Logs
# =========================
*.log

# =========================
# Generated folders
# =========================
backend/alerts/
backend/exports/
backend/reports/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/